body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

#imageContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#uploadedImage {
  max-width: 100%;
}

#cropButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#cropButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
